# Being Pythonic

## 1. Data Structures

### a. Lists

#### Even Odd

In [6]:
evenlist = list(range(0,21,2)); print(evenlist)
oddlist = list(range(1,21,2)); print(oddlist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Random

In [193]:
import numpy as np; import random as rd;

gen = lambda x: [rd.randint(-10,10) for _ in range(x)]
genp = lambda x: [rd.randint(2,10) for _ in range(x)]
genb = lambda x: [rd.choice((0,1)) for _ in range(x)]
gent = lambda x: [rd.choice((True,False)) for _ in range(x)]

l1,l2,l3,l4 = gen(10), genp(10), genb(10), gent(10) 
print(f'list 1 = {l1} \nlist 2 = {l2}\nlist 3 = {l3}\nlist 4 = {l4}' )

list 1 = [-6, 0, -3, -10, -2, 7, 4, 3, -4, -9]
list 2 = [6, 3, 7, 10, 10, 5, 2, 6, 8, 10]
list 3 = [0, 0, 1, 0, 1, 1, 0, 0, 1, 0]
list 4 = [True, True, False, False, True, False, False, False, True, True]

#### List Ops

In [10]:
nums = evenlist + oddlist; nums.sort(); print(f'nums = {nums}')
print(f'Sliced and Diced: { (sld := nums[0:5:2]*3) } ')
sld.sort(reverse=True); print(f'sorted and reversed = {sld}')

nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Sliced and Diced: [0, 2, 4, 0, 2, 4, 0, 2, 4]
sorted and reversed = [4, 4, 4, 2, 2, 2, 0, 0, 0]

### b. Tuples

In [12]:
emptyt = (); print(f'empty tuple = {emptyt}')
single = 1, ; print(f'single = {single}')
tup = 2,5,8,0, ; print(f'tuple = {tup}')
print(*tup, sep=' ~ ')

empty tuple = ()
single = (1,)
tuple = (2, 5, 8, 0)
2 ~ 5 ~ 8 ~ 0

### c. Sets

In [14]:
set1 , set2 = set(genp(4)) , set(genp(5)); print(f'set1 = {set1}             set2 = {set2}\n')

print(f'Union = {set1 | set2}')
print(f'Intersection = {set1 & set2}')
print(f'Difference (set1 - set2) = {set1 - set2}')
print(f'Difference (set2 - set1) = {set2 - set1}')
print(f'Symmetric Difference = {set1 ^ set2}')

set1 = {8, 10, 3}             set2 = {2, 5, 6, 7, 10}

Union = {2, 3, 5, 6, 7, 8, 10}
Intersection = {10}
Difference (set1 - set2) = {8, 3}
Difference (set2 - set1) = {2, 5, 6, 7}
Symmetric Difference = {2, 3, 5, 6, 7, 8}

### d. Dictionaries

In [16]:
d = {k:v for k,v in enumerate(['a','b','c','d','e'])}; print(d)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

#### Switching key values in a dict

In [18]:
d = {k:v for k,v in zip(['a','b','c'], [1,2,3])}; print(d) #generating a dict
switched = {v:k for k,v in d.items()}; print(switched) #switching elements

{'a': 1, 'b': 2, 'c': 3}
{1: 'a', 2: 'b', 3: 'c'}

#### Logs of numbers

In [19]:
import math as m
log = lambda x: m.log(x,10);
nums = list(range(2,6));

d = { 'log of '+str(k):v for k,v in zip(nums , [log(x) for x in nums ] ) }; print(d);

{'log of 2': 0.30102999566398114, 'log of 3': 0.47712125471966244, 'log of 4': 0.6020599913279623, 'log of 5': 0.6989700043360187}

#### Merging and Updating

In [20]:
d1 , d2 = { k:'OLD' for k in genp(6) } , { k:'NEW' for k in genp(6) }
print(f'd1 = {d1} \nd2 = {d2}\n')

print( f'merged = {d1 | d2}' )
d1 |= d2
print( f'updated d1 = {d1}' )

d1 = {3: 'OLD', 6: 'OLD', 9: 'OLD', 4: 'OLD', 8: 'OLD', 2: 'OLD'}
d2 = {8: 'NEW', 10: 'NEW', 2: 'NEW', 6: 'NEW'}

merged = {3: 'OLD', 6: 'NEW', 9: 'OLD', 4: 'OLD', 8: 'NEW', 2: 'NEW', 10: 'NEW'}
updated d1 = {3: 'OLD', 6: 'NEW', 9: 'OLD', 4: 'OLD', 8: 'NEW', 2: 'NEW', 10: 'NEW'}

### Unpacking

In [22]:
a,b,c  =  1,2,3; 
b,c,a = a,b,c; print(a,b,c);

3 1 2

In [23]:
x,y,z,w = {
    1:2, 3:4,
    2:3, 4:5
}
print(x,y,z,w)

1 3 2 4

## 2. Methods

#### sorted( iterable, key=None, reverse=False )

In [26]:
nums = genp(14); print(f'nums = {nums}')
nums_sorted = sorted( nums , reverse=bool(1) ) ; print(f'nums_sorted in reverse = {nums_sorted}\n')

nums = [2, 2, 10, 6, 5, 8, 3, 9, 10, 7, 3, 10, 10, 5]
nums_sorted in reverse = [10, 10, 10, 10, 9, 8, 7, 6, 5, 5, 3, 3, 2, 2]

In [27]:
d = {k:v for k,v in zip( genp(6) , [rd.choice('qwertyuiopasdfghjklzxcvbnm') for i in range(6)]) }; print(d,'\n')
ds1 = sorted( d.keys() ) ; ds2 = sorted( d.values() ); print(f'sorted by keys: {ds1}\nsorted by values: {ds2}')
dss = sorted( d.items() ); print(f'just sorted: {dss}')

{9: 'b', 6: 't', 2: 'r', 5: 'i', 4: 'f'}

sorted by keys: [2, 4, 5, 6, 9]
sorted by values: ['b', 'f', 'i', 'r', 't']
just sorted: [(2, 'r'), (4, 'f'), (5, 'i'), (6, 't'), (9, 'b')]

#### map( function, iterable1, iterable2...)

In [29]:
nor = genp(5); print(f'nor = {nor}')
nor2 = list(map( lambda x: x*2 , nor )); print(f'nor 2  = {nor2}')
norby2 = list(map( lambda x: x//2 , nor )); print(f'norby2 = {norby2}')
norb = list(map( lambda x: int(str(bin(x))[2:]) , nor )); print(f'nor in binary = {norb}')

nor = [8, 2, 10, 8, 8]
nor 2  = [16, 4, 20, 16, 16]
norby2 = [4, 1, 5, 4, 4]
nor in binary = [1000, 10, 1010, 1000, 1000]

#### filter( function, iterable )

In [31]:
print(f'nums = {nums}') 
kall = list(filter( lambda x: True , nums )); print(f'all nums = {kall}')
knone = list(filter( lambda x: False , nums )); print(f'no nums = {knone}')
keven = list(filter( lambda x: x%2==0 , nums )); print(f'only even = {keven}')
kzero = list(filter( lambda x: '0' in str(x) , nums )); print(f'Nums with zeros in them = {kzero}')

nums = [2, 2, 10, 6, 5, 8, 3, 9, 10, 7, 3, 10, 10, 5]
all nums = [2, 2, 10, 6, 5, 8, 3, 9, 10, 7, 3, 10, 10, 5]
no nums = []
only even = [2, 2, 10, 6, 8, 10, 10, 10]
Nums with zeros in them = [10, 10, 10, 10]

#### reduce( function, iterable )

In [33]:
from functools import reduce

rnums = gen(5); print(f'rnums = {rnums}')
product = reduce(lambda x, y: x*y , rnums); print(f'product = {product}')

words = ['Hello', 'world', 'this', 'is', 'Python']
sentence = reduce(lambda x, y: x[::-1] + ' ~~ ' + y[::-1], words); print(sentence)

numbers = [1, 5, 8, 10, 3, 7]
max_result = reduce(lambda a, b: a if a > b else b, numbers); print(max_result)

rnums = [-7, 10, -4, 7, -3]
product = -5880
is ~~ world ~~ Hello ~~ siht ~~ nohtyP
10

#### enumerate( iterable, start=0 ))

In [35]:
for i in enumerate( (x:= tuple( [9,8,7,6] ) )):
    print(i)

(0, 9)
(1, 8)
(2, 7)
(3, 6)

In [36]:
d = {k: v for k, v in enumerate([gen(3) for _ in range(5)] , start=2) }; print(d)

{2: [9, 7, 10], 3: [3, -9, 10], 4: [-7, -5, -2], 5: [-4, -6, 7], 6: [-7, 7, 1]}

In [37]:
for i in enumerate( zip( (a:=[3,4,5]) , (b:=[6,8,10]) )):
    print(i, a[0]*b[-1])

(0, (3, 6)) 30
(1, (4, 8)) 30
(2, (5, 10)) 30

### format( value , format )

In [82]:
num = 1234.5678
print(format(num, '.2e'))  
print(f'{num:.2e}')

1.23e+03
1.23e+03

In [86]:
ratio = 0.75
print(format(ratio, '.2%'))  # Output: '75.00%'

75.00%

#### F strings

In [89]:
print(f'Number = {(n:= 1.35e+09)}  '); print(f'which is equal to: {n:_}'); print(f'which is equal to: {n:,}')

Number = 1350000000.0
which is equal to: 1_350_000_000.0
which is equal to: 1,350,000,000.0

In [54]:
print(f'Text = {( var:= 'text' )}'); print(f':{var:>20}:');print(f':{var:^20}:'); print(f':{var:<20}:')

Text = text
:                text:
:        text        :
:text                :

In [56]:
#filling
print(f':{var:_>20}:');print(f':{var:_^20}:'); print(f':{var:_<20}:')

:________________text:
:________text________:
:text________________:

In [62]:
#rounding
print(f'number  = {(n := 356778.39878324975940)}'); print(f'rounded to 4 = {n:,.4f}'); print(f'rounded to 2 = {n:,.2f}'); print(f'rounded = {n:,.0f}')

number  = 356778.3987832498
rounded to 4 = 356,778.3988
rounded to 2 = 356,778.40
rounded = 356,778

In [74]:
n = 4; m = 5; a='Alan'; print(f'{ n + m =  }'); print(f'{a = }'); print(f'{ bool(a) = }')

 n + m =  9
a = 'Alan'
 bool(a) = True

---

# One liners

### Palindrome in one line

In [41]:
pal = lambda x: True if x[::-1]==x else False; print(pal('NamaN'))

True

### Prime

In [43]:
isprime = lambda x: True if not 0 in [x%i for i in range(2,int(x/2)+1)] else False; print(isprime(7))

True

### Squares 1 to n

In [45]:
squ = lambda n: [x**2 for x in range(1,n+1)]; print(squ(10))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Alternate method

In [47]:
squ = lambda n: list(map(lambda x: x**2, list(range(1,n+1)))); print(squ(10))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Count the number of vowels in a string

In [49]:
cn = lambda text: sum([text.lower().count(vowel) for vowel in 'aeiou' ]); print(cn('Hi hello this is a message'))

9

### Reverse the words in a sentence

In [51]:
rv = lambda text: ' '.join( text.split()[::-1] ); print(rv('Hi this is sarvamm'))

sarvamm is this Hi

### If all elements in a list are unique

In [53]:
uniq = lambda x: True if len(set(x)) == len(x) else False; print(uniq([1,2,2]))

False

### Sum of digits

In [55]:
sumd = lambda x: sum([int(i) for i in str(x)]); print(sumd(34698))

30

### Find unique elements in a list

In [57]:
finduniq = lambda x: list(set(x)); print(finduniq([1,1,2,2,2,3,3]))

[1, 2, 3]

### Product of elements in a list

In [59]:
from functools import reduce; product = lambda iterable: reduce(lambda x, y: x * y, iterable); print(product([4,8,9]))

288

### Factorial

In [61]:
from functools import reduce; factorial=lambda x: reduce(lambda x, y: x * y, list(range(2,x+1))); print(factorial(4))

24

Using the product funtion defined above

In [63]:
from functools import reduce; factorial=lambda x: product( list(range(2,x+1)) ); print(factorial(6))

720

---

# Number systems

In [66]:
print(10, 0b1010, 0o12, 0xA);

10 10 10 10

In [124]:
#inverse of a binary
print(f'for {bin(0b1010101)} inverse = {bin(~0b1010101)}')

for 0b1010101 inverse = -0b1010110

### Any base to Decimal

In [329]:
b2d = lambda x: int(str(x), 2) ; b2d(10101)

21

In [331]:
o2d = lambda x: int(str(x), 8) ; o2d(47)

39

In [333]:
x2d = lambda x: int(str(x), 16) ; x2d('abef')

44015

In [335]:
a2d = lambda x,y: b2d(x) if y=='b' else o2d(x) if y=='o' else x2d(x) if y=='x' else print(None); a2d(1010, 'b')

10

### Decimal to any other base

In [338]:
d2b = lambda x: format(x, 'b') ; d2b(10)

'1010'

In [340]:
d2o = lambda x: format(x, 'o') ; d2o(21)

'25'

In [342]:
d2x = lambda x: format(x, 'x') ; d2x(10)

'a'

In [344]:
d2a = lambda x,y: d2b(x) if y=='b' else d2o(x) if y=='o' else d2x(x) if y=='x' else print(None); d2a(10, 'b')

'1010'

### Any base to Any other base

In [347]:
a2a=lambda num, base, to: print(d2a(num, to)) if base =='d' else print(a2d(num, base)) if to =='d' else print( d2a( int(a2d(num, base)) , to) )

In [349]:
a2a('1100F', 'x', 'o')

210017



---

# Miscellaneous

#### Walrus Operator :=

In [83]:
tup = 1,5,2,5,52,7,8,100
print(f'{walrus} is greater than 20') if (walrus := max(tup) ) > 20 else print(None)

100 is greater than 20

In [84]:
results = [y for x in range(10) if (y := x ** 2) % 2 == 0]; results

[0, 4, 16, 36, 64]

In [85]:
for i in range(12):
    print(f' { (x:= (i+1) // 2) } just some text {x**2} ')

 0 just some text 0
 1 just some text 1
 1 just some text 1
 2 just some text 4
 2 just some text 4
 3 just some text 9
 3 just some text 9
 4 just some text 16
 4 just some text 16
 5 just some text 25
 5 just some text 25
 6 just some text 36

#### Slice

In [257]:
x = slice(2,9)
print( ( list(range(2,21,2))[x] ) )

[6, 8, 10, 12, 14, 16, 18]

#### Left shift - Right Shift

In [89]:
for i in range(0,10,):
    print(f'10 << {i} = {10<<i}   =   {bin(0b1010 << i)}')

10 << 0 = 10   =   0b1010
10 << 1 = 20   =   0b10100
10 << 2 = 40   =   0b101000
10 << 3 = 80   =   0b1010000
10 << 4 = 160   =   0b10100000
10 << 5 = 320   =   0b101000000
10 << 6 = 640   =   0b1010000000
10 << 7 = 1280   =   0b10100000000
10 << 8 = 2560   =   0b101000000000
10 << 9 = 5120   =   0b1010000000000

In [90]:
for i in range(0,10,2):
    print(f'5120 << {i} = {5120>>i}   =   {bin(0b1010000000000 >> i)}')

5120 << 0 = 5120   =   0b1010000000000
5120 << 2 = 1280   =   0b10100000000
5120 << 4 = 320   =   0b101000000
5120 << 6 = 80   =   0b1010000
5120 << 8 = 20   =   0b10100

In [91]:
mul2n = lambda num, n: num << n; print(mul2n(5,4))

80

In [92]:
div2n = lambda num, n: num >> n; print(div2n(64,4))

4

In [93]:
print(1 << 1 ,'|',  1 >> 1)

2 | 0

#### Any and All

##### any()
The any() function returns True if at least one element of the iterable is true. If the iterable is empty, any() returns False.

##### all()
The all() function returns True if all elements of the iterable are true (or if the iterable is empty). If any element is false, all() returns False.

In [97]:
booleans = [False, False, True, False]; print(f'any = {any(booleans)}, all = {all(booleans)}')
booleans2 = [True for i in range(4)]; print(f'any = {any(booleans2)}, all = {all(booleans2)}')

any = True, all = False
any = True, all = True

In [305]:
binlist = [rd.choice((0,1)) for i in range(10)]; print(binlist)
print('any?: ',any(binlist)); print('all? : ', all(binlist),'\n')

zerolist = [0 for i in range(5)]; print(zerolist); print('any?: ', any(zerolist)); print('all? : ', all(zerolist),'\n')
onelist = [x+1 for x in zerolist]; print(onelist); print('any?: ',any(onelist)); print('all? : ', all(onelist))

[0, 1, 0, 1, 1, 1, 1, 1, 0, 0]
any?:  True
all? :  False

[0, 0, 0, 0, 0]
any?:  False
all? :  False

[1, 1, 1, 1, 1]
any?:  True
all? :  True

In [179]:
el = []
print(any(el)); print(all(el))

False
True

In [297]:
nums = gen(10); print(f'nums = {nums}')
res = any([x>8 for x in nums]); print(f'any number greater than 8?: {  ['No', 'Yes'][res]  }')
res2 = all( [x<8 for x in nums] ); print(f'all numbers less than 8?: {  ['No', 'Yes'][res2]  }')

nums = [3, -7, 10, -7, 6, -3, 4, 1, -1, 3]
any number greater than 8?: Yes
all numbers less than 8?: No

#### Booleans

In [232]:
print(f'T + T = {True + True}'); print(f'T OR T = {True or True}');print(f'F + F = {False + False}');print(f'F OR F = {False or False}');
print(f'T + F = {True + False}');print(f'T AND T = {True and True}');print(f'F AND T = {False and True}');print(f'not T = {not True}')
print(f'not F = {not False}');print(f'T == T = {True == True}');print(f'T != F = {True != False}')

T + T = 2
T OR T = True
F + F = 0
F OR F = False
T + F = 1
T AND T = True
F AND T = False
not T = False
not F = True
T == T = True
T != F = True

In [289]:
print(f'True OR False: {True | False}\nTrue AND False: {True & False}\nTrue + False: {True + False}\nTrue - False: {True - False}')
print(f'False - True: {False - True}')

True OR False: True
True AND False: False
True + False: 1
True - False: 1
False - True: -1

In [209]:
truths = gent(10); print(f'truths = {truths}')
print( f'sum of truths = {sum(truths)}' ); print( f'product of truths = {product(truths)}' )
truths.sort(); print(f'sorted = {truths}')

truths = [False, False, True, False, False, False, True, False, True, True]
sum of truths = 4
product of truths = 0
sorted = [False, False, False, False, False, False, True, True, True, True]

In [273]:
for i in range(5):
    print( ['no', 'yes'][rd.choice((True, False))] )

yes
yes
no
yes
no

In [275]:
series = True, False, True, False    # <-- Tuple containing boolean values (tuples are defined by commas not braces)
if series:                          # <-- Checks if tuple is empty or not, returns True
    print(series[False])           # <-- Boolean as an index (False = 0, True = 1)  
                                  # Prints first element of series which is True

True

In [277]:
x = 11;
print( [1,2,3,4] [( (x>=5) * 3 ) -2] ) # <-- [1,2,3,4] [ (True*3) - 2 ]
                                      # <-- [1,2,3,4] [ 3 - 2 ]
                                     # <-- [1,2,3,4] [ 1 ] (prints second element which is 2)

2

#### Incrementing a number

In [126]:
print(f'for {(n:=10)} increment is {-~n}')

for 10 increment is 11

In [130]:
print(f'{-~(-~(-~(k:=0)))}')

3